# Write your todo items here, one per line.  Indentation indicates
# a child/dependency relationship to the previous unindented line.
# If an indented line has no children of its own, its considered a
# description of the previously unindented line.  If an indented line
# has children lines that are indented further, it is its own todo
# item with that is dependent on the parent todo item.
#
# Example:
#
# create a hello world class
#   Print a static "Hello World" string to standard output.
#   incorporate hello world class into app
#     remove the print("HelloWorld") statements with calls to hello world class
#   Support any message input
#     Should print any message to standard out.
#     Support any stream to send output.
#       * Should print any message to any stream.
#       * Should use STDOUT as the default stream.
#
# In the above TODO file:
#
# - "Create a hello world class" is the only top-level todo item.
#
# - "Print a static "Hello World" string to standard output are the
#   details for "Create a hello world class" todo item.
#
# - "Incorporate hello world class into app" is a todo item that is
#   dependent on "Create a hello world class".
#
# - "Remove the print("Hello World") statements with calls to hello
#   world class" are the details for the "Incorporate hello world class
#   into app" todo item.
#
# - "Support any message input" is a todo item that is dependent on
#   "Create a hello world class"
#
# - "Should print any message to standard out" are the details for
#   the "Support any message input" todo item.
#
# - "Support any stream to send output" is a todo item that is dependent
#   on the "Support any message input" todo item.
#
# - "* Should print any meessage to any stream." and "Should use STDOUT
#   as the default stream." are the details of the "Support any stream to 
#   send output item"

